@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";
@plugin 'tailwind-scrollbar';

a.active hr{
  display: block;
}

*{
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

/* ::-webkit-scrollbar{
  display: none;
} */

.update-message{
  background-color: darkred;
  color: white;
  font-size: 15px;
  width: 30vw;
  padding: 25px 20px;
}
.swiper-pagination-bullet{
  background-color: ghostwhite !important;
}

.swiper-pagination-bullet-active{
  background-color: white !important;
}
.swiper-button-prev{
  display: none !important;
}
.swiper-button-next{
  display: none !important;
}
.sub{
  font-style: italic !important;
}

@media(max-width:640px){
  a.active{
    background-color: black;
    color: white;
  }
  .update-message{
    width: 100vw;
  }
}